node_modules
static
data
emmet
todo.md
.cache
.vscode
bc-backup-db
build
keys
.git
.git*
.drone.yml
todo.md
load-i18n.js
.eslint*
*.html
*.ods
*.xlsx
eslint-config-bclint
.chrep.json
.dockerignore
.drone.yml
.packesel.json
createkeys.sh
docker-compose*.yml
*.Dockerfile
Dockerfile
