<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1"/>
    <title>MarkoJS Test</title>
    <meta name="theme-color" content="#2e2d2e"/>
    <meta name="screen-orientation" content="portrait"/>
    <lasso-head/>
  </head>
  <body>
    <div class="bc-class-scroll-container">
      <div class="bc-class-body">
        <${input.frame.renderBody}/>
      </div>
    </div>
    <lasso-body/>
  </body>
</html>
